ACTION=="change", SUBSYSTEM=="power_supply", RUN+="/usr/bin/su USER -c 'INSTALLDIR/uictl power_supply'"
ACTION=="change", SUBSYSTEM=="rfkill", RUN+="/usr/bin/su USER -c 'INSTALLDIR/uictl rfkill'"

